/* styles.css */

/* **************************************** basic styling */

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    background-color: rgb(236, 238, 241);
}

/* **************************************** css grid */

.nav {
    grid-area: nav;
    height: 8rem; /*placeholder*/
}

.form-column {
    grid-area: form-column;
    border: 1px solid #777;
    text-align: center;
}

.footer {
    grid-area: footer;
}

.container {
    display: grid;
    grid-template-columns: auto 25% auto;
    grid-template-rows: auto;
    grid-template-areas:
            "nav nav nav"
            ". form-column ."
            "footer footer footer";
}

/* **************************************** form */

.form-header {
    height: 4rem; /*placeholder*/
}

.form-content {
    background-color: rgb(255, 255, 255);
    height: 70rem; /*placeholder*/
}

.form-content h1 {
    font-size: 2.5rem;
    font-weight: 200;
}

.form-content .terms {
    font-style: italic;
}

.form-footer {
    height: 2rem; /*placeholder*/
}

/* **************************************** footer */

.footer {
    text-align: center;
}

.footer-links {
    display: inline-block;
}

.footer-links a:nth-child(2) {
    margin: 0 1rem;
}
